<h2><%= @list_of_old_ones.name %></h2>
<%= markdown(@list_of_old_ones.content) %>

<p>Created by: <%= User.find_by(id: @list_of_old_ones.user_id).name %> At: <%= @list_of_old_ones.time_created %></p>

<% if @user %>
<form action="/article/<%=@article.id%>" method="POST">
  	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete"></a>
</form>
<a style="display: inline;" href="/edit/<%=@article.id%>"><button>Edit this Article</button></a>
<br>
<% else %>
<p>Log in or sign up to contribute to this article.</p>
<% end %>

