<form action="/old_entries/<%=@id%>" method="GET">
<button type="submit">Most Recent</button>
</form>
<form action="/old_entries/<%=@id%>/abc" method="GET">
<button type="submit">By Name</button>
</form>

<h1>Previous entries of <%=%></h1>
<ul>
<% @list_of_old_ones.each do |article| %>
<li><a href="/old_entries/records/<%= article.id %>"><%= article.name %></a></li>
<% end %>
</ul>
