<!--Title of Article-->
<div class="articles-header">
	<h2><%= @article.name %></h2>
</div>
<!--/Title of Article-->

<!--Content of Article In Markdown-->
<div class="one-article-div">
	<%= markdown(@article.content) %>
	<br>
	<p>Last Updated by: <%= @article.user.name %> At: <%= @article.time_created %></p><br>
</div>
<!--/Content of Article In Markdown-->

<!-- Delete or Edit Article -->
<div class="articles-footer">
	<!-- see previous versions -->
	<a href="/articles/<%=@article.id%>/record">See all versions</a>
	<!-- if user is logged: -->
	<% if session[:user_id] %> 
		<!-- delete option only if same user logged created it-->
		<% if @article.user == User.find(session[:user_id]) %>
			<form action="/article/delete/<%=@article.id%>" method="POST">
  				<input type="submit" value="Delete Article">
			</form>
		<% end %>
		<!-- if user is logged, give an option to edit article -->
		<a href="/articles/update/<%=@article.id%>">Edit this Article</a>
	<!-- If no user is signed in, display message -->
	<% else %>
		<p>Log in or sign up to contribute to this article.</p>
	<% end %>
</div>
<!--/Delete or Edit Article -->
