<!-- Title of Page -->
<div class="articles-header">
	<h2>Historic of:</h2><img style="max-width:300px;" src="<%= @article.gif %>">
	<p>Last Name Given: <%= @article.name %></p>
</div>
<!--/Title of Page -->

<!-- Body of Page -->
<div class="articles-body">
	<ul>
		<% @records.each do |record| %>
			<li><a href="/articles/<%= @article.id %>/records/<%= record.id %>"><%= record.name %></a></li>
		<% end %>
	</ul>
</div>
<!--/Body of Page -->

<!-- Always Display: -->
<button id="back" onclick="goBack()">Previous Page</button>
<!-- /Always Display -->