<!-- Title of Page -->
	<div class="user-title">
		<h2><%=session[:user_name]%> Kiwi's</h2>
		<a href="/users"><button>Search Friends</button></a>
		<% if @user.about_me == "empty" %>
		<a href="/user/articles/bio/<%=session[:user_id]%>"><button>Add a bio to your profile</button></a>
		<% else %>
		<a href="/user/articles/bio/<%=session[:user_id]%>"><button>Update your Bio</button></a>
		<% end %>
	</div>
<!--/Title of Page -->

<!-- Body of Page -->
	<div class="user-body">
		<% if @user.about_me != "empty" %>
		<h3>My Bio:</h3>
		<%= @user.about_me %>
		<% end %>
		<%if @user_articles.any? %>
		<!-- If User has Articles -->
			<h3>Articles by me:</h3>
			<ul> 
				<!-- Articles of User -->
				<% @user_articles.each do |article| %>
					<li><a href="/articles/<%= article.id %>"><%= article.name %></a>, on <%= article.time_created.strftime("%m/%d/%Y") %></li>
				<% end %>
				<!--/Articles of User -->
			</ul>
		<% else %>
		<!-- If User Doesn't Have Articles -->
			<p>You don't have articles yet. What about <a href="/article/create">creating</a> one?</p>
		<% end %>
	</div>
<!--/Body of Page -->
